.mySubs {
    background-color: var(--blue-color);
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid var(--border);
    box-shadow: 0 0 5px var(--border);
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.mySubs .card {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--border);
    box-shadow: 0 0 5px var(--border);
    overflow: hidden;
    color: var(--text-color);
}