* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-color: #fff;
    --blue-color: #eff2f6;
    --grey-color: #707070;
    --grey-color-light: #aaa;

    --blue-color-hover: #e3e6ed;

    --link-hover: #333;
    --text-color: #141824;

    --border: #cbd0dd;
    --border-hover: #333;

    --sidebar: #fff;
    --navbar: #fff;

    --navbar-blur: rgba(255, 255, 255, 0.5);

    --button: #f5f7fa;
    --button-hover: #cbd0dd;

    --scrollbar: #fff;
    --scrollbar-thumb: rgb(170, 175, 186);
    --scrollbar-thumb-hover: #d3d6de;

    --body: #f5f7fa;
    --toast: #777;
    --toast-color: #e3e6ed;
    --sidebar-blur: rgba(255, 255, 255, 0.5);
}

body.dark {
    --white-color: #333;
    --blue-color: #31374a;
    --grey-color: #f2f2f2;
    --grey-color-light: #aaa;

    --blue-color-hover: rgb(65, 73, 99);

    --link-hover: white;
    --text-color: #e3e6ed;

    --border: #31374a;
    --border-hover: #777;

    --sidebar: #141824;
    --navbar: #141824;

    --navbar-blur: rgba(20, 24, 36, 0.5);

    --button: #0f111a;
    --button-hover: #141824;

    --scrollbar: #141824;
    --scrollbar-thumb: #31374a;
    --scrollbar-thumb-hover: rgb(65, 73, 99);

    --toast: #31374a;
    --toast-color: #e3e6ed;
    --sidebar-blur: rgba(20, 24, 36, 0.5);
}


body {
    font-family: 'Lato', sans-serif;
    color: var(--text-color) !important;
    background-color: var(--button);
    transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0ms;
}


/* Container for the validator */
#container {
    color: var(--text-color) !important;
    background-color: var(--sidebar);
    max-width: 70vw;
    max-height: 80vh;
    overflow-y: auto;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    border-radius: 12px;
    border: 1px solid var(--border);
}

/* Title style */
h1 {
    color: var(--text-color) !important;
    text-align: center;
    margin-top: 0;
}

/* Label style */
label {
    display: block;
    margin-bottom: 2px;
    margin-top: 15px;
    color: var(--text-color) !important;
}

/* Button style */
button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--button);
    color: var(--text-color) !important;
    border: 1px solid var(--border);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Button hover effect */
button:hover {
    background-color: var(--button-hover);
}

/* Result and validation styles */
#result,
#validation {
    margin-top: 20px;
    text-align: center;
    color: var(--text-color) !important;
    font-size: 16px;
}

#info {
    margin-top: 20px;
    text-align: center;
    color: var(--text-color) !important;
    font-size: 16px;
    border: transparent;
    outline: none;
    user-select: text;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: var(--blue-color);
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 2px;
    border: none;
    outline: none;
    user-select: text;
}


thead {
    border-radius: 12px;
    border: none;
}

td,
th {
    border: 1px solid var(--border);
    text-align: left;
    padding: 8px;
    color: var(--text-color) !important;
}

th {
    text-align: center;
}

.res {
    text-align: center !important;
}

tr:nth-child(even) {
    background-color: var(--blue-color-hover);
}

#inputForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}



.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Select some files';
    display: inline-block;
    background: linear-gradient(top, #2b2951, #2456ca);
    border: 1px solid var(--border);
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
}

.custom-file-input:hover::before {
    border-color: var(--border-hover);
}

.custom-file-input:active::before {
    color: var(--text-color);
    background: -webkit-linear-gradient(top, var(--blue-color), var(--blue-color-hover));
}

.hidden {
    display: none !important;
}

.version {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-color) !important;
    margin-top: 20px;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--navbar-blur);
    backdrop-filter: blur(5px);
    z-index: 50;
}


.loading-spinner {
    border: 5px solid var(--border);
    border-top: 5px solid var(--blue-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

::selection {
    background-color: var(--blue-color-hover);
    color: var(--text-color);
}